pkgbase = carton-bin
	pkgdesc = Cross-platform proxy client powered by sing-box
	pkgver = 0.6.2
	pkgrel = 1
	url = https://github.com/821869798/carton
	arch = x86_64
	arch = aarch64
	license = GPL-3.0-or-later
	depends = glibc
	depends = gcc-libs
	depends = libx11
	depends = libice
	depends = libsm
	depends = libxext
	depends = libxrandr
	depends = libxi
	depends = libxcursor
	depends = libxfixes
	depends = libxkbcommon
	depends = libxkbcommon-x11
	depends = fontconfig
	depends = freetype2
	depends = mesa
	depends = dbus
	depends = zlib
	optdepends = gtk3: file dialogs when no desktop portal is running
	optdepends = xdg-desktop-portal: file dialogs
	optdepends = sudo: TUN and system proxy setup
	provides = carton
	conflicts = carton
	options = !strip
	options = !debug
	source = carton.desktop::https://github.com/821869798/carton/raw/refs/heads/main/packaging/linux/carton.desktop
	source = carton.png::https://github.com/821869798/carton/raw/refs/tags/v0.6.2/src/carton.GUI/Assets/carton_icon.png
	source = LICENSE::https://github.com/821869798/carton/raw/refs/tags/v0.6.2/LICENSE
	sha256sums = eec9564d657e5945f2d1f73acf0aa4c5d79a2362136cfd81ff881abd6d4e43f5
	sha256sums = ddcf47960f17c5652904b24ad99a4a92af03dab850b8f29e50401d2a4a038138
	sha256sums = d0f7cd798fd03274d6742245e320bbd2133dfdb7161c4470df4ea862b4fa57dd
	source_x86_64 = carton-0.6.2-linux-x64-package.tar.gz::https://github.com/821869798/carton/releases/download/v0.6.2/carton-0.6.2-linux-x64-package.tar.gz
	sha256sums_x86_64 = 3b8526c79c5dc863afe5bf0410d602e1f04de09ec040bcce4d695d57a91c11ce
	source_aarch64 = carton-0.6.2-linux-arm64-package.tar.gz::https://github.com/821869798/carton/releases/download/v0.6.2/carton-0.6.2-linux-arm64-package.tar.gz
	sha256sums_aarch64 = 970d5d259f17eb5ef0be7d4e8d2f4c29a3e01c9cd999895e8ad60c952f06451a

pkgname = carton-bin
